{% extends "layouts/default.twig" %}
{% block content %}
{{ parent() }}
<div class="container">
	<h2>Código de conduta da conferência</h2>

	<p>Todos os participantes, palestrantes, patrocinadores e voluntários da conferência precisam concordar com este código de conduta. Os organizadores vão reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todos os participantes para ajudar a garantir um ambiente seguro para todos.</p>

	<h3>PRECISA DE AJUDA?</h3>
	<p>Você pode nos contatar através do email br@darkmiratour.com ou diretamente Cyrille Grandval através de Facebook, Twitter, Telegram (@cyrillegrandval) ou por email cgrandval@darkmira.com.br.</p>

	<h3>VERSÃO RÁPIDA</h3>
	<p>Nossa conferência é dedicada a fornecer uma experiência de conferência livre de assédio para todos, independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias. Nós não toleramos o assédio aos participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais não são apropriadas em nenhum local da conferência, incluindo palestras, workshops, festas, Twitter e outras mídias on-line. Os participantes que violarem estas regras poderão ser punidos ou expulsos da conferência sem restituição, a critério dos organizadores da conferência.</p>

	<h3>VERSÃO MAIS LONGA</h3>
	<p>Assédio inclui comentários verbais ofensivos relacionados ao gênero, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, stalking, fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato físico inadequado e atenção sexual indesejada.</p>

	<p>Os participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazê-lo imediatamente.</p>

	<p>Os patrocinadores também estão sujeitos às políticas antiassédio. Particularmente, os patrocinadores não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas (incluindo voluntários) não devem utilizar roupas, uniformes ou trajes sexualizados ou de outra forma criar um ambiente sexualizado.</p>

	<p>Se um participante se envolve em comportamento de assédio, os organizadores da conferência podem tomar todas as medidas que considerem adequadas, incluindo avisar o ofensor ou expulsá-lo da conferência sem nenhum reembolso.</p>

	<p>Caso seja assediado, perceba que alguém está sendo assediado ou tenha alguma dúvida, entre em contato com um membro da equipe da conferência imediatamente. Membros da equipe da conferência podem ser identificados pois estarão vestindo camisetas marcadas.</p>

	<p>A equipe da conferência estará disposta a auxiliar os participantes a contatarem a segurança do hotel ou local, assim como as devidas aplicações da lei local, fornecer escoltas ou ajudar aqueles que sofrerem assédio para se sintam seguros pelo o decorrer da conferência. Nós valorizamos a sua participação.</p>

	<p>Esperamos que os participantes sigam estas regras em salas de apresentação e workshops da conferência, além de eventos sociais relacionados.</p>

	<h3>Código de conduta baseado no confcodeofconduct.com</h3>

	<p>Crédito e fonte original: http://2012.jsconf.us/#/about & The Ada Initiative<br/>
	Por favor, ajude a traduzir ou a melhorar: http://github.com/leftlogic/confcodeofconduct.com<br/>
	Esta obra está licenciada sob Creative Commons Attribution 3.0 Unported License</p>
</div>
{% endblock %}