{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is an event about Security and Quality in PHP ecosystems. So it's not limited to just PHP language talks. There have been sessions covering a wide range of topics supporting PHP developers and DevOps as well, and we encourage you to "think outside the box" to come up with your own unique topics.
    </p>
    <p>
        <strong>It is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Development best practices</li>
        <li>Web / PHP Security</li>
        <li>Security best practices</li>
        <li>Security tools</li>
        <li>Design patterns</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>User Cases / Experiences</li>
        <li>Software development methodologies</li>
        <li>Version control</li>
        <li>Devops</li>
        <li>Building APIs</li>
        <li>Continuous Integration / Deployment</li>
        <li>Framework-related topics</li>
        <li>Quality tools</li>
    </ul>
</div>
{% endblock %}

